body{
    background-color:rgb(57, 105, 87);
    }
    .photo{
      width:200px;
      height:200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 20%;
      border-radius: 10%;
      margin:0 auto;
   }
  .slide {
    text-align: center;
  }
  .slider{
    margin: 0 auto;
    padding: 10px;
    margin-top: 15%;
    width: 95%;
    height: 50vh;
  }
  .slick-dots li button::before{
    font-size:15px;
    background-color:#fff;
}
